<h1>게시판</h1>
<hr/>
<a href="/board/<%= boardid %>/new">
    <i class="fa-solid fa-pen"></i>
    게시글 작성하기
</a>
<hr/>
<h2>게시글 목록</h2>
<div class="list-group list-group-horizontal-xxl">
    <a href="/board/1/d" class="list-group-item list-group-item-action">11</a>
</div>
<hr/>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>